body {
	background-color: #F1F1FF;
    color: #444444;
    font-family: verdana,"trebuchet MS",helvetica,sans-serif;
    margin: 0;
}

p {
 	font-size: small;
	line-height: 1em;
}

h1, h2, h3 {
	font-family: verdana, "trebuchet MS", helvetica, sans-serif;
}

h2 {
	font-size: medium;
}

#content {
	width: 100%;
	padding: 0 0 0 25px;
}

/* HEADER */

#header-container {
	background-color: #F1F1FF;
	background: url("../img/escher2.JPG") no-repeat top left #F1F1F1;
	width: 100%;
	border-bottom: 1px solid #859acf;
	padding: 55px 0 3px 0;
	margin: 0 0 3px 0;
}

#header img {
	float: right;
	margin: 60px 0 0 20px;
}

#header h1 {
	color: #5C80B1;
	padding: 60px 0 10px 0;
	margin: 0 0 0 25px;
}

/*MENU*/
#menu {
	float: left;
	padding: 8px 0 0 0;
	margin: 0 0 20px 0;
	width: 100%;
	border-top: 1px solid #859acf;
}
#menu ul {
	letter-spacing: .1em;
	font-size: small;
	margin-left: 10px;
	padding-left: 0;
	padding-top: 20px;
	display: inline;
} 
#menu ul li {
	margin-left: 0;
	padding: 3px 15px;
	
	list-style: none;
	display: inline;
}

a {
	font-weight: bold;
	color: #5C80B1;
	text-decoration: none;
}
a: link {
	color: #5C80B1;
}
a:visited {
	color: #5C80B1;
}
a:hover {
	color: white;
	background-color: #5C80B1;
}
a:active: {
	border: 1px dashed #5C80B1;
}

/* PAGE */

#myself{
	font-family: georgia, "Times New Roman," serif;
	color: #5C80B1;
	padding: 3px;
	margin: 17px 17px 17px 27px;
	font-size: medium;
	font-weight: bold;
	/*border: 1px solid #5C80B1;
	background: white;*/
}

#myself dt {
	font-family: georgia, "Times New Roman," serif;
	font-size: large;
	font-weight: bold;
	padding: 10px 0 0 0;
}
#myself dd {
	font-size: small;
	line-height: 1.5em;
	font-weight: bold;
	padding: 5px 0 0 0;
	margin: 0;
}
#myself li{
	font-size: small;
	line-height: 1.5em;
	padding: 5px 0 0 0;
	margin: 0;
}
#myself p
{
    font-family: georgia, "Times New Roman," serif;
	color: #5C80B1;
	margin: 10px 10px 10px 0px;
	font-size: small;
	word-spacing: normal;
	line-height: 2em;
}
	

#page {
	float: left;
	width: 100%; 
	margin: 0 0 30px 0;
	}
#page img {
	float: left;
	border: 1px solid #5C80B1;
	padding: 3px;
	margin: 27px 17px 17px 27px;
	width: 200px;
	}

#page blockquote {
				float: right;
				width: 90%;
				background-color: #D1D1D1;
				color: #5C80B1;
				border: 1px dashed black;
				margin: 30px 30px 30px 0;
				padding: 20px;
				}
#page p {
	font-family: georgia, "Times New Roman," serif;
	font-size: small;
	line-height: 2em;
	}
#page cite {
	float: right;
	font-family: georgia, "Times New Roman," serif;
	font-size: small;
	}
#page a:link {
	color: #5C80B1;
	}
#page a:hover {
	color: white;
	background-color: #5C80B1;
	}


/* FOOTER */	
#footer {
	border-top: 2px solid #5C80B1;
	clear: both;
	color: #5C80B1;
	padding: 20px 30px 10px 30px;
	text-align: center;
}

#footer ul {
	display: inline;
	font-family: georgia, "Times New Roman," serif;
	font-size: small;
	letter-spacing: .1em;
} 
#footer ul li {
	display: inline;
	list-style: none outside none;
	margin-left: 0;
	padding: 5px 15px;
	}

/* PUBLICATION */
#academic{
	font-family: georgia, "Times New Roman," serif;
	color: #000000;
	font-size: medium;
}

#academic td {
	vertical-align:text-top;
}

#academic a:link{
	text-decoration:underline;
	font-size: small;
}

#academic a:hover{
	text-decoration:underline;
	font-size: small;
}

